/* --- ESTILOS BASE (Comunes) --- */
.page {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    background-color: #121212;
}

main {
    flex: 1;
    min-width: 0;
    background-color: #121212;
}

/* Base del sidebar sin forzar altura */
::deep .sidebar-container {
    background-color: #1a1a1a;
}

/* La top-row vacía que borramos del layout */
.top-row {
    background-color: #121212;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

article {
    padding-top: 1rem !important;
}


/* --- DESKTOP --- */
@media (min-width: 641px) {
    ::deep .sidebar-container {
        flex-shrink: 0;
    }
}

/* --- MOBILE --- */
@media (max-width: 640.98px) {
    .page {
        flex-direction: row;
    }

    main {
        margin-left: 50px;
    }

    .top-row {
        display: none !important;
    }

    article.content {
        padding-top: 0 !important;
    }
}