@inherits LayoutComponentBase

<div class="page">
    @* El NavMenu define la columna izquierda *@
    <NavMenu />

    <main>
        @* Dejamos la top-row vacía o la usamos solo como espaciador superior *@
        <div class="top-row px-4">
            @* Borramos el link de GitHub *@
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>